In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import numpy as np

from sklearn.linear_model import LinearRegression
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline

import sklearn
print(sklearn.__version__)

1.3.1

In [7]:
# Load the CSV file
data = pd.read_csv('vel-drag-fit1.csv')

data.head(20)

            x  d          y
0   403.70368  6  438.86226
1   412.96293  6  440.26227
2   422.22219  6  441.66229
3   431.48145  6  443.06231
4   440.74071  6  444.46232
5   449.99997  6  445.86234
6   459.25923  6  447.26236
7   468.51849  6  448.66237
8   477.77775  6  450.76240
9   487.03701  6  452.16242
10  496.29627  6  453.56243
11  505.55553  6  455.66246
12  514.81479  6  457.06247
13  524.07405  6  458.46249
14  533.33331  6  459.86251
15  542.59256  6  461.26252
16  551.85182  6  462.66254
17  561.11108  6  464.06256
18  570.37034  6  465.46257
19  579.62960  6  466.86259

In [ ]:
# Reshape the DataFrame into a pivot table
pivot_table = data.pivot('x', 'd', 'y')



# Convert the data to a 2D numpy array
Z = pivot_table.values


# Create the X and Y coordinate grids
X, Y = np.meshgrid(pivot_table.columns, pivot_table.index)


# Create a 3D surface plot
fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

# Plot the surface, ignoring NaN values
ax.plot_surface(X, Y, Z, cmap='viridis')

# Set labels and title
ax.set_xlabel('AOA')
ax.set_ylabel('Mach')
ax.set_zlabel('C_L')
ax.set_title('Surface Plot of C_L')


ax.invert_xaxis()

ax.view_init(10,20)

# Show the plot
plt.show()